*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

#root {
  padding: 0 !important;
  margin: 0;
  isolation: isolate;
  min-width: 100%;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

.dark-mode {
  --primary-color: #000;
  --secondary-color: #fff;
}

input {
  background-color: var(--primary-color);
}

textarea {
  background-color: var(--primary-color);
}

.start__main {
  height: 100vh;
  display: flex;
}

.start__login {
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}
@media (max-width: 1024px) {
  .start__login {
    padding: 2rem;
    width: 100%;
  }
}

.start__title {
  display: none;
}

.start__logo {
  width: 200px;
}

.start__image {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1024px) {
  .start__image {
    display: none;
  }
}

.login__form {
  height: 80%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: start;
  min-width: 365px;
  max-width: 500px;
  text-align: start;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.login__title {
  justify-self: start;
  margin-bottom: 4rem;
}

.login__sign {
  font-weight: 600;
  font-size: 1.5rem;
}

.login__inputs {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.login__label {
  font-size: 0.875rem;
  color: grey;
}

.login__input {
  outline: none;
  border: none;
}

.login__icon {
  position: absolute;
  transform: translateY(-50%);
  right: 1rem;
  top: 50%;
  color: grey;
}

.login__checkboxs {
  margin-bottom: 1rem;
}

.login__checkbox {
  margin: 0.5rem;
}

.login__button {
  border-radius: 8px;
  background-color: blue;
  color: white;
  padding: 0.5rem;
  width: 100%;
  border: none;
}
.login__button:hover {
  background-color: darkblue;
}

.login__account {
  height: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.login__account--p {
  margin-right: 0.5rem;
}

#app__main {
  text-align: start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  min-width: 100vw;
  max-width: 100vw;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.app__navbar {
  display: flex;
  justify-content: start;
  height: 5rem;
  background-image: linear-gradient(to bottom, #289eec, blue);
  border-bottom: 1px solid blue;
  box-shadow: 0 2px 8px var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.app__logo {
  margin-right: auto;
  max-width: 181px;
}

.app__sign {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  height: 2.5rem;
  margin: auto 0.5rem;
  color: white;
  background-color: transparent;
}

.app__h1 {
  text-align: center;
  height: 10%;
  padding-top: 1.5%;
}

.app__section {
  height: 25%;
}

.app__h2 {
  margin-left: 5%;
}

.app__div {
  display: flex;
  margin-left: 4.5rem;
  margin-top: 1rem;
}

.app__tag {
  background-color: gray;
  border-radius: 8px;
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

.resultTags {
  margin-left: 7%;
  margin-top: 1rem;
  width: 50%;
}
.resultTags__title {
  font-size: 1.5rem;
}
.resultTags__row {
  display: flex;
  justify-content: space-between;
}

.search {
  padding: 1rem;
  margin: auto 0;
}

.search__input {
  width: 20rem;
  height: 2.5rem;
  border-radius: 8px;
  outline: 0;
  border: 0;
}
.search__input::placeholder {
  padding-left: 0.5rem;
}

.user__gray-area {
  height: 10rem;
  width: 100%;
  background-color: #adacac;
  overflow: hidden;
}

.user__background-form {
  background-repeat: no-repeat;
  width: 100%;
  height: 500%;
}

.user {
  position: relative;
  color: var(--secondary-color);
}

.user__h1 {
  text-align: start;
  margin-left: 25rem;
}

.user__img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: -5.5rem;
  left: 10rem;
  border-radius: 50%;
  border: 3px solid white;
}

.user__section {
  height: 25rem;
  margin: 3rem 5rem;
  border-top: 0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 10rem 10rem auto;
  grid-template-rows: 2.5rem auto;
  color: var(--secondary-color);
}

.user__table--1 {
  border: 1px solid #adacac;
  border-top-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__table--2 {
  border: 1px solid #adacac;
  border-top-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__blank-space {
  border-bottom: 1px solid #adacac;
}

.user__table {
  grid-row: 2/3;
  grid-column: 1/-1;
  border: 1px solid #adacac;
  overflow: auto;
}

.user__create {
  color: white;
  text-decoration: none;
  padding: 1rem;
  background-color: #1d41df;
  border-radius: 8px;
}

.user__section--table {
  grid-column: 1/-1;
  grid-row: 2/-1;
}

.template {
  background-color: gray;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--secondary-color);
}
.template__navbar {
  height: 4rem;
  width: 50%;
  background-color: var(--primary-color);
  border-radius: 8px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: end;
}
.template__navbar--div {
  height: fit-content;
  margin: 0 1rem;
}
.template__button {
  background-color: #2179ec;
  color: var(--primary-color);
  border-radius: 8px;
  padding: 0.5rem;
  border: 0;
  box-shadow: 3px 3px 8px var(--secondary-color);
}

.general {
  width: 50%;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.general__campo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  margin: 0.5rem;
  margin-bottom: 1rem;
}
.general__campo--label {
  margin-right: 1rem;
}
.general__campo--input {
  border: 0;
  border-bottom: 1px solid gray;
}
.general__campo--input:focus {
  outline: none;
  border-bottom: 3px solid gray;
}
.general__tags {
  margin: 0.5rem;
  text-align: start;
}
.general__tags--button {
  margin-left: 1rem;
}
.general__tags--ul {
  margin-top: 1rem;
  width: 50%;
}
.general__tags--li {
  position: relative;
  padding: 0.5rem;
}
.general__tags--li button {
  position: absolute;
  right: 0;
}
.general__checkbox-div {
  text-align: start;
  margin: 0.5rem;
  margin-top: 1.5rem;
}
.general__checkbox-div--label {
  margin-right: 1rem;
}

.questions {
  width: 50%;
  background-color: transparent;
  border-radius: 8px;
  min-height: 5rem;
  margin-bottom: 1rem;
}
.questions__div {
  background-color: var(--primary-color);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 1rem;
}
.questions__button {
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.question {
  background-color: var(--primary-color);
  margin: 0.5rem 0;
  border-radius: 8px;
  height: fit-content;
  padding: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
  box-shadow: 1px 1px 8px black;
}
.question::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: blue;
  height: 0.25rem;
  z-index: 10;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.question__p {
  text-align: start;
  margin-bottom: 0.25rem;
}
.question__input {
  grid-column: 1/2;
  grid-row: 2/3;
  border: 0;
  border-bottom: 1px solid gray;
  margin-right: 0.5rem;
}
.question__input:focus {
  outline: none;
  border-bottom: 3px solid gray;
}
.question__input--checkbox {
  margin: 0.5rem 0;
  border: 0;
  border-bottom: 1px solid gray;
  margin-right: 0.5rem;
}
.question__input--checkbox:focus {
  outline: 0;
  border-bottom: 3px solid gray;
}
.question__select {
  grid-column: 2/3;
  grid-row: 2/3;
  border: none;
}
.question__select:focus {
  outline: none;
}
.question__type {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 0;
}
.question__checkbox {
  grid-column: 1/2;
  text-align: start;
}
.question__button {
  margin: 0.5rem 0;
}

.userTable {
  width: 100%;
}
.userTable__thead {
  height: 3rem;
}
.userTable__tr {
  height: 2rem;
}

.templateIcon {
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0 1rem;
  margin-left: 0;
  min-height: 7rem;
  min-width: 10rem;
}

.acr__section {
  position: relative;
}

.acr__ul {
  position: absolute;
  background-color: var(--primary-color);
  border: 1px solid #383838;
  border-top: 0;
  list-style-type: none;
  padding: 0;
  color: var(--secondary-color);
}

.acr__li {
  margin: 0.25rem;
  padding: 0.25rem;
}
.acr__li:hover {
  background-color: gray;
}

.form {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: var(--secondary-color);
}
.form__description {
  background-color: var(--primary-color);
  border-radius: 8px;
  margin: 1rem 0;
  display: flex;
}
.form__description--divimg {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__description--img {
  border-radius: 50%;
}

.answer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  margin: 0.5rem 0;
  min-width: 30rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: start;
}
.answer__input {
  border: none;
  border-bottom: 1px solid gray;
}
.answer__input:focus {
  outline: none;
  border-bottom: 3px solid gray;
}
.answer__checkbox {
  display: flex;
  align-items: center;
}
.answer__checkbox--input {
  margin-right: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
