.acr__section
    position: relative

.acr__ul
    position: absolute
    background-color: white
    border: 1px solid #383838
    border-top: 0
    list-style-type: none
    padding: 0

.acr__li
    margin: .25rem
    padding: .25rem

    &:hover
        background-color: #e0e0e0

    