.settings
    display: flex
    justify-content: center
    align-items: center
    margin: 1rem
    position: relative
    color: white

    &__menu
        position: absolute
        bottom: -170%
        background-color: blue 
        padding: .5rem

        &--icon
            margin-bottom: .25rem
            color: white